body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.risk-level {
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.Critical {
  background-color: rgb(49, 49, 49);
}

.High {
  background-color: rgb(255, 12, 12);
}

.Medium {
  background-color: rgb(255, 162, 0);
  color: black;
}

.Low {
  background-color: rgb(255, 251, 0);
  color: black;

}
